@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.underlineAbout {
  width: 180px;
  height: 2px;
  background-color: #ffd401 !important;
}

.logo-about-img {
  width: 29rem;
  margin-top: 4rem;
  margin-left: 2rem;
  margin-bottom: 6rem;
}

h3.about-top {
  margin-top: 4rem !important;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

p.about-text {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.underlineAbout {
  width: 180px;
  height: 2px;
  border: 2px solid #ffd401;
}
