.profileBody {
  height: 47rem;
}

.buttonProfile {
  color: black !important;
  border: 1px solid black !important;
  border-radius: 20rem !important;
}

.profileText {
  font-size: 30px;
}

.accountLink,
.passwordLink {
  margin-left: 0.7rem !important;
}

.underlineProfile {
  width: 275px;
  height: 2px;
  border: 2px solid #ffd401;
}

.sidebarUser {
  background-color: black !important;
  position: fixed;
  font-size: 30px;
  padding: 10px;
  border-color: #ffd401 !important;
  display: inline !important;
}
.sidebarPassword {
  background-color: black !important;
  position: fixed;
  font-size: 30px;
  padding: 10px;
  border-color: #ffd401 !important;
  display: inline !important;
}

.passwordPrepend {
  padding: 0.64rem 0.75rem !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.fa-userr {
  color: #ffd401 !important;
}

.fa-lock {
  color: #ffd401 !important;
}

@media all and (max-width: 768px) {
  .sidebarUser {
    z-index: 1;
    margin-left: -115px;
  }
  .sidebarPassword {
    z-index: 1;
    margin-left: -115px;
  }
}
@media all and (min-width: 320px) {
  .sidebarUser {
    z-index: 1;
    margin-left: 10px !important;
    margin-top: -70px !important;
  }
  .sidebarPassword {
    z-index: 1;
    margin-top: -10px !important;
    margin-left: 10px !important;
  }
  .cardPass {
    width: 550px !important;
  }
}
