.underlineHistory {
  width: 255px;
  height: 2px;
  border: 2px solid #ffc205;
}

.imageTable {
  width: 150px;
  height: auto;
}
.invoiceButton {
  background-color: #fa423b !important;
  border-color: #fa423b !important;
}
